.maincontainer {
  width: 100%;
  height: 60%;
  background-size: cover;
  // background-image: url("./Images/food.jpg");
  margin-bottom: 0px;
}
.advertisement {
  width: 100%;
  height: auto;
  padding-top: 25px;
  text-align: center;
  margin-top: 3px;
}

.tag{
  align-content: center;
  color: black;
  text-shadow: 1px 1px 4px rgba(247, 240, 240, 0.8);
  font-weight: 80;
  padding-top: 50px;
}