.main{
  margin-top: 60px !important;
  // position: fixed;
  
}

.OfferSlider {

    font-family: sans-serif;
    display: flex;
    align-items: center;
    top: 100px;
    height: 300px;
    width: 100%;
    background-color: #676a79;
  }
  
  .foodCards {
    width: 85%;
    margin-left: auto;
    margin-top: 80px;
    display: flex;
    padding-top: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
.span1 a {
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
    margin: 1rem 1rem 1rem 0;
  }
  
.span1{
    margin-left: 10px;
    width: 500px;
    display: inline-block;
  }

  .filterhead{
    position: fixed;
    background-color: white;
    width: 100%;
    margin-bottom: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .filterhead span {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: black;
    margin: 1rem 1rem;
    font-weight: 300;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .toggle-menu {
    // top: 10px;
    // margin: 0 10px;
    height: 35px;
    border-radius: 10rem;
    width: 35px;
    outline: none;
    z-index: 1;
    background-color: rgba(64, 194, 133, 0.693);
    border-color: rgba(64, 194, 133, 0.693);
}

@media only screen and (max-width: 600px),(max-width: 800px){
  .span1 a {
    font-size: smaller;
    color: black;
    text-decoration: none;
    margin: .1rem .1rem .1rem .1rem;
  }
  
.span1{
    margin-left: 10px;
    width: 80%;
    display: inline-block;
  }

  .span b{
    padding-left: 10px;
    font-size: 20px;
  }
  .filterhead span {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    color: black;
    margin: 6rem 2rem;
  }

  .foodCards {
    width: 95%;
    margin-left: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

}