.handleForm {
  text-align: center;
  margin: auto;
  width: 30%;
  margin-top: 50px;
}

.UserResponse input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 73%;
  background: #f1f1f1;
  border-radius: 5px;
}

.UserResponse input[type="text"]:focus {
  border: none !important;
  outline: none !important;
}

.UserResponse button {
  display: inline;
  width: 20%;
  padding: 10px;
  background: #ff5e5b;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 5px;
}

.UserResponse button:hover {
  background: #0b7dda;
  transform: rotate(180deg);
  transition: all 0.4s linear;
}

.UserResponse button:focus {
  border: none !important;
  outline: none !important;
}

form.UserResponse::after {
  content: "";
  clear: both;
  display: table;
}

