.main_container {
  width: 100%;
  height: 70px;
  display: flex;
  background-color: #ff5e5b;
  align-items: center;
  justify-content: space-between;
}
.logo {
  cursor: pointer;
  width: 1o0px;
  height: 70px;
  margin: 0px 0px;
  color: black;

}

.logo1 {
  cursor: pointer;
  width: 75%;
  margin: 0px 10px;
  color: black;

}

.tagline {
  color: whitesmoke;
  font-style: italic;

}
.Navigation_list {
  display: flex;
  list-style: none;
  width: 26%;
  justify-content: space-around;
  cursor: pointer;
}

li :hover {
  color: whitesmoke;
  transform: translateY(5px);
  transition: transform 0.4s linear !important;
}
